%h1 Register

%div{ :id => 'register'}
  = form_for @user do |f|
    = f.label 'email'
    = f.text_field :email
    = f.label 'username'
    = f.text_field :username
    = f.label 'password'
    = f.password_field :password
    = f.label 'password confirmation'
    = f.password_field :password_confirmation
    = f.submit

%h1 Already registered? Login here...

%div{ :id => 'login'}
  = form_with(url: '/sessions', method: "post", local: true) do |f|
    = f.label 'username'
    = f.text_field :username
    = f.label 'password'
    = f.password_field :password
    = f.submit 'Login'




