<!DOCTYPE html>
<html>
  <head>
    <title>Reelist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to 'home', root_path %> |
    <% unless logged_in? %>
      <a href="/users/new">Register | Login</a>
    <% end %>
    <% if logged_in? %>
      <%= current_user.username %> |
      <%= link_to 'logout', sessions_path, method: "delete" %>
    <% end %>
    <%= yield %>
  </body>
</html>
